/*
  ================================================
  ================= STATISTICS STYLES ============
  ================================================
*/

/* ===== Statistics Container ===== */
.statistics-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 7px;
}

/* ===== Statistic Item ===== */
.statistic-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-statistics);
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-md);
    color: var(--color-statistics-text);
    text-align: center;
    border-radius: var(--border-radius-md);
    padding: var(--spacing-md);
}

/* ===== Statistics Graph ===== */
.statistics-item .statistics-graph {
    width: 100%;
    object-fit: cover;
}

.form-year{
    margin-top: var(--spacing-md);
    width: 100%;
    display: flex;
    gap: var(--spacing-md);
}

.form-year select{
    width: 20%;
    min-width: 250px;
}